@page
@model ElRegistratura.Data.PrimerModel

@{
    ViewData["Title"] = "Primer";
}

<h1>Primer</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Doctor.Id" />
            <div class="form-group">
                <label asp-for="Doctor.LastName" class="control-label"></label>
                <input asp-for="Doctor.LastName" class="form-control" />
                <span asp-validation-for="Doctor.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.FirstName" class="control-label"></label>
                <input asp-for="Doctor.FirstName" class="form-control" />
                <span asp-validation-for="Doctor.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Patronymic" class="control-label"></label>
                <input asp-for="Doctor.Patronymic" class="form-control" />
                <span asp-validation-for="Doctor.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.DoctorPicture" class="control-label"></label>
                <input asp-for="Doctor.DoctorPicture" class="form-control" />
                <span asp-validation-for="Doctor.DoctorPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.ClinicId" class="control-label"></label>
                <select asp-for="Doctor.ClinicId" class="form-control" asp-items="ViewBag.ClinicId"></select>
                <span asp-validation-for="Doctor.ClinicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.CategoryId" class="control-label"></label>
                <select asp-for="Doctor.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Doctor.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.PositionId" class="control-label"></label>
                <select asp-for="Doctor.PositionId" class="form-control" asp-items="ViewBag.PositionId"></select>
                <span asp-validation-for="Doctor.PositionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.SpecialityId" class="control-label"></label>
                <select asp-for="Doctor.SpecialityId" class="form-control" asp-items="ViewBag.SpecialityId"></select>
                <span asp-validation-for="Doctor.SpecialityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.PlotId" class="control-label"></label>
                <select asp-for="Doctor.PlotId" class="form-control" asp-items="ViewBag.PlotId"></select>
                <span asp-validation-for="Doctor.PlotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
