<h1>Администрование</h1>


<div>
    <button type="submit" class="btn btn-primary "> <a class="btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Назад</a> </button>
   
</div>
@* 
 <div><a class="navbar-brand" asp-controller="Admins" asp-action="Index">Администраторы</a> </div>
 <div> <a class="navbar-brand" asp-controller="Patients" asp-action="Index">Пациенты</a> </div>
 *@
 <div> <a class="navbar-brand" asp-controller="UserRoles" asp-action="Index">Роли</a> </div>
 <div> <a class="navbar-brand" asp-controller="RoleManager" asp-action="Index">Менеджер ролей</a> </div>
 <div> <a class="navbar-brand" asp-controller="AddressForPlots" asp-action="Index">Адреса</a> </div>
 <div> <a class="navbar-brand" asp-controller="Cabinets" asp-action="Index">Кабинеты</a> </div>
 <div> <a class="navbar-brand" asp-controller="Categories" asp-action="Index">Категории</a> </div>
 <div><a class="navbar-brand" asp-controller="Clinics" asp-action="Index">Поликлиники</a> </div>
 <div><a class="navbar-brand" asp-controller="Doctors" asp-action="Index">Врачи</a> </div>
 <div> <a class="navbar-brand" asp-controller="Plots" asp-action="Index">Участки</a> </div>
 <div> <a class="navbar-brand" asp-controller="Positions" asp-action="Index">Должности</a> </div>
 <div> <a class="navbar-brand" asp-controller="Schedules" asp-action="Index">Расписание</a> </div>
 <div> <a class="navbar-brand" asp-controller="Specialities" asp-action="Index">Специальности</a> </div>
 <div> <a class="navbar-brand" asp-controller="Status" asp-action="Index">Статус талонов</a> </div>
  <div> <a class="navbar-brand" asp-controller="Streets" asp-action="Index">Улицы</a> </div>
   <div> <a class="navbar-brand" asp-controller="Tickets" asp-action="Index">Талоны</a> </div>
 <div> <a class="navbar-brand" asp-controller="Users" asp-action="Index">Пользователи</a> </div>