<h1>Вы успешно записались на прием</h1>
<h2>Вы можете просмотреть информацию талона в <a  asp-area="Identity" asp-page="/Account/Manage/TicketsSelect">
    личном кабинете
</a>, а так же Вам отправлен талон на вашу электронную почту</h2>
<button  class="btn btn-primary" type="button"><a asp-area="" asp-controller="Home" asp-action="Index" class="btn-primary">На главную </a></button>