@model IEnumerable<ElRegistratura.Models.Schedule>

@{
    ViewData["Title"] = "Расписание";
}
<!DOCTYPE html>
<html lang="ru">
    <head>
       
    </head>
     <body style="background-image: url('/Images/fon.jpg');">
         

<div style="background-color: white">

<h1>Расписание</h1>

<a class="navbar-brand" href='javascript:history.go(-1)'>Назад</a>

<div>
    @if(Model.ToList()==null)
    {
        <h2>Расписания нет</h2>
    }
    else
    {
         @foreach(var item in Model.OrderBy(d=>d.Data))
    {
        
            @if(item.IsShow==true & item.Data>=DateTime.Today){
        
                <button type="submit" class="btn btn-primary">
            <a class="btn-primary" asp-area="" asp-action="TicketsView" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.Data)
            </a>
        </button>
        }
    }
    }
    

</div>  
</div>
</body>
</html>





